/*  ID   */
.Discover {
  color: white;
  margin: auto;
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
}

.Download {
  color: aquamarine;
  font-size: 16px;

}

.personal {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px
}

.description {
  font-family: Verdana;
  font-size: 21px;
  color: grey
}
/* Tag  */
body {
  background-color: black;
  text-align: center;
  color: white;
}
