/*  ID   */
.Discover {
  color: white;
  margin: auto;
  font-family: Verdana;
  font-size: 50px;
  font-weight: normal;
}

.download {
  font-size: 16px;

}

.personal_coming_soon {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px
}

.description {
  font-family: Verdana;
  font-size: 21px;
  color: grey
}

.copywrite {
  text-align: right;
  color: grey;
}
/* Tag  */
body {
  background-color: black;
  text-align: center;
  color: white;
}

a {
  color:aquamarine;
}
